<div class="indiv-elected">
<%= link_to("#{elected.first_name} #{elected.last_name} (#{elected.party.upcase}-#{elected.state})", elected_path(elected.id)) %> 
<%= image_tag "headshots/#{elected.biography}.jpg" %>
<%= render partial: "users/followform", locals: {choice: elected} %>

 
</div>