<h1><%= @user.first_name %></h1>


<% @user.electeds.each do |elected| %>
<%= link_to("#{elected.first_name} #{elected.last_name} (#{elected.party}-#{elected.state}#{elected.house == "house" ? -elected.district : nil })", elected_path(elected.id)) %><br>
<% end %>

