@import url(http://fonts.googleapis.com/css?family=Holtwood+One+SC);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  color: white;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-color: #0a6eb2;
}

#outer {
  width: 100%;
  position: fixed;
  top: 0px;
}

#nav_bar {
  z-index: 1000000;
  height: 100px; 
  background-size: 100%;

  /*position: relative;*/
}

#link-container {
  position: absolute;
  left: 0;
  top: 0;
  float: right;
  width: 500px;
}

.link {
  border-radius: 5px;
  margin: 0 10px;
  padding: 5px;
  padding-top: 10px;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.3em;
  border-radius: 10px;
  font-weight: normal;
  background: rgba(114, 124, 143, .4);
}

.link a {
  text-decoration: none;
  color: #F5C453;
}

.welcome {
  background: url(http://www.tawbaware.com/maxlyons/DC_IMG_2611-IMG_2648_Capitol_Dome_Interior.jpg);
  text-align: center;
  font-size: 50px;
  font-family: Georgia;
  color: white;
  width: 75%;
  padding-left: 12.5%;
  padding-right: 12.5%;
  margin: auto;
  margin-top: -100px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1003px;
  padding-top: .5px;
}

.footer {
 width:100%;
  height:100px;
  position:absolute;
  bottom:0;
  left:0;
  overflow: hidden;
}

.link-button {
  padding: 6px;
}

.link-button a{
  text-decoration: none;
  text-align: center;
  color: white;
  font-family: "Open Sans";
  font-size: 16px;
}

.link-button a:visited{
  text-decoration: none;
  text-align: center;
  color: white;
  font-family: "Open Sans";
  font-size: 16px;
}

.links {
  text-align: center;
}

a {
  color: white;
}

a:link {
  color: white;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}

a:visited {
  color: white;
}

.links a {
  color: white;
  font-size: .75em;
  border: 1px solid white;
  padding: 20px;
  border-radius: 10px;
}

.links a:hover {
  color: red;
  text-decoration: none;
  background: white;
}

.epigraph {
  margin-top: 600px;
  clear: both;
  color: white;
  font-size: .35em;
}

.title {
background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,.5) 10%, rgba(0,0,0,.5) 50%, rgba(0,0,0,.5) 90%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(10%,rgba(0,0,0,.5)), color-stop(50%,rgba(0,0,0,.5)), color-stop(90%,rgba(0,0,0,.5)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,.5) 10%,rgba(0,0,0,.5) 50%,rgba(0,0,0,.5) 90%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,.5) 10%,rgba(0,0,0,.5) 50%,rgba(0,0,0,.5) 90%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,.5) 10%,rgba(0,0,0,.5) 50%,rgba(0,0,0,.5) 90%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,.5) 10%,rgba(0,0,0,.5) 50%,rgba(0,0,0,.5) 90%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
text-align: center;
font-size: 1em;
font-weight: bolder;
letter-spacing: 2px;
color: white;
-webkit-text-fill-color: white;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: black;
display: block;
margin: 400px 0 0px 0;
font-family: 'Holtwood One SC', serif;
width: 100%;
}

#login-form, #new_user {
  width: 50%;
  margin: 0 auto;
  background-color: rgba(0,0,0,.25);
}

h2 {
  text-align: center;
  font-size: 2.5em;
}

#login-form form, #new_user form {
  text-align: center;
  padding: 20px;
  width: 200px;
  margin: 0 auto;
  padding-bottom: 50px;
}

#login-form form input, #new_user form input {
  width: 175px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  font-family: "Open Sans";
  color: black;
}

form input[type="submit"], button {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
}

form input[type="submit"]:hover, button:hover {
  background-color: rgb(191,31,30);
  color: white;
} 

form label {
  font-size: 1.25em;
  color: white;
  text-align: left;
}

.display-space {

  width: 75%;
  margin: 0 auto;
}

h1 {
  font-size: 5em;
  text-align: center;
}

.indiv-elected {
  display: inline-block;
}